# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Vite
*.local
.vite/

# Env
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.idea/
*.swp
*.swo
